@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table>
    <thead>
        <tr>
            <td colspan="2">Über uns</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Name</b></td>
            <td>Jürgen Vogt</td>
        </tr>
        <tr>
            <td><b>Mail</b>></td>
            <td>j.v@outlook.com</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Fußbereich</td>
        </tr>
    </tfoot>
</table>